<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main id="wikiEditBody" class="container">

        <% include ../static/partials/messages.ejs %>
        <div id="editWikiContainer" class="border rounded-bottom">
        <h1>Edit Wiki</h1>

        <form action="/wikis/<%= wiki.id %>/update" method="post">
            <div class="form-group">
            <label for="title">Wiki title</label>
            <input value="<%= wiki.title %>" type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Wiki">
            </div>
            <div class="form-group">
            <label for="body">Body</label>
            <textarea rows="4" class="form-control" name="body" placeholder="Enter Body"><%= wiki.body %></textarea>
            </div>
            <div class="form-group">
                <label for="private">Privacy</label>
                <select name="private" id="private">
                    <option value="<%= wiki.private %>" selected>
                        <% if(wiki.private === true){ %>
                            Private
                        <% } else { %>
                            Public
                        <% } %>
                    </option>
                    <option value="false">Public</option>
                    <% if((wiki.userId === currentUser.dataValues.id && currentUser.dataValues.role === 1) || currentUser.dataValues.role === 2){ %>
                    <option value="true">Private</option>
                    <% } %>
                </select>
            </div>
            <% if((wiki.userId === currentUser.dataValues.id && currentUser.dataValues.role === 1) || currentUser.dataValues.role === 2){ %>
        
            <% } %>

            <button type="submit" class="btn btn-success">Update</button>
        </form>
        <hr>
        <% if(wiki.private == true) %>
            <% if(collaboration.length == 0){ %>
                <% include ../collaborators/new.ejs %>
                <section id="collaborator-list">
                        <% if(wiki.collaborators) { %>
                            <% wiki.collaborators.forEach((collaborator) => { %>
                                <%- include("../collaborators/show.ejs", {collaborator}) %>
                            <% }) %>
                        <% } %>
                </section>
            <% } %>
        <%  %>
        </div>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>